@font-face{
    font-family: myFont;
    src: url('../font/impact.ttf');
}
body{
    /* background-color: rgb(235, 242, 245); */
    background: linear-gradient(to right, rgb(240, 246, 249), rgb(226, 242, 249));
}
p{
    /* font-family: myFont; */
    color: rgb(39, 37, 37);
    font-size: 23px;
}
.title-head{
    color: #0769d5;
    text-transform: uppercase;
    font-family: myFont;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* NAVBAR  */
.navbar{
    background: linear-gradient(to right, #f4f4f4a1, #d7cfcfa1, #bcb5de, #bcb5de);
}
.navbar ul{
    margin: auto;
    font-size: larger;
    padding: 20px; 
}

.navbar img{
    width: 180px;
    margin-top: 18px;
    
}
.navbar-toggler-icon{
    background-image: url('../images/icons8-menu.svg');
}
.navbar-toggler{
    color: blueviolet;
}

.navbar a{
    color: blue;
    text-decoration: none;
    font-family: myFont; 
}
.navbar  a:hover{
    /* transform: scale(1.01); */
    /* transition: 0.5s; */
    color: rgb(255, 68, 68);
    /* text-decoration: underline; */
}
.nav-item a{
    font-size: 23px;
    
}

.navbar .contact-us-btn{
  color: rgb(55, 55, 196);
  font-size: 23px;

}
.navbar .contact-us-btn:hover{
  transform: scale(1.1);
  transition: 0.5s;
  color: black;
  text-decoration: underline;
}



/* NAVBAR  */

/* HERO BANNER  */
.hero-banner{
    /* position: relative; */
    background-image: url('https://media.istockphoto.com/id/1352396871/photo/businessman-holding-investment-finance-chart-stock-market-business-and-exchange-financial.jpg?s=612x612&w=0&k=20&c=Iee6ThNUDOKgfnaMPnvYfJDaFKAH9YN96QRrGp06a_A=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-banner h1, .hero-banner h3{
    color: black;
}
.hero-banner .row{
    display: flex;
    justify-content: center;
}

.hero-banner-image{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.hero-banner-image img{
    border-radius: 8px;
    box-shadow: 0 4px 8px 3px rgba(165, 164, 164, 0.2), 0 6px 20px 0 rgba(168, 166, 166, 0.19);
}
.hero-banner-description{
    /* position: absolute; */
    /* background-color: orange; */
    padding: 20px;
    left: 0;
    top: 0;

}
.hero-banner-description h1,
.hero-banner-description h3 {
    margin: 0;
}

.hero-banner-image img{
width: 100%;
animation: fadeIn 2.5s linear forwards;
transform-origin: center ;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* HERO BANNER  */



/* WHAT IS GMB  */
.what-is-gmb .row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.what-is-gmb
/* WHAT IS GMB  */


/* ABOUT SECTION  */
.about-us{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.about-us{
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-us p{
    color: #47425e;
}
.about-us .about-us-col {
    display: flex;
    justify-content: center;
}
.about-us{
    display: flex;
    justify-content: center;
}
.about-us .col{
    text-align: center;
}
.about-us-content-head{
    align-items: center;
    /* background: linear-gradient(to right, #f4f4f4a1, #e6f8f9a1, #bfe4f9, #ecfbfd); */
    background-color: #ceeef9;
    width: 50%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
    padding: 20px;
    box-shadow:  4px 0px 0 rgb(214 231 255 / 20%), 0 6px 9px 0 rgb(73 107 255 / 19%)
}
.about-us-content-head h1, .about-us-content-head h3{
    /* text-shadow: 2px 2px 5px rgb(144 139 229); */
}
.about-us-content-desc{
    padding: 20px;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/* ABOUT SECTION  */

 /* OUR SERVICES  */
.our-services{
    height: auto;
    /* background-color: #343a40; */
    padding: 50px;
}
.our-services .col h1, h3, h4, p{
    text-align: center;
}



 /* OUR SERVICES  */
 .our-services{
    /* background-color: lightgray; */
    margin-bottom: 20px;
    margin-top: 10px;

}
.our-services-title{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.our-services-title{
    text-align: center;
}

.services-row{
    display: flex;
    justify-content: center;
}
.services-row .row{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.service-description h3{
    color: #473cc2;
    font-family: myFont;
}
.service-description p{
    color: #47425e;
}
.service-image {
    margin-bottom: 10px;
    /* box-shadow: 0px 4px 4px rgba(95, 94, 94, 0.4); */
}
.service-image img{
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(95, 94, 94, 0.4);
}

.main-content h1{
    /* text-align: right; */
    /* margin-right: 10px; */
}
.our-services .left-side, .our-services .right-side{
    color: aliceblue;
}
.our-services .left-side, .our-services .right-side{
    /* border: 1px solid red; */
    margin: 15px;
}

/* ANIMATION  */

/* IMAGEB ANIMATION  */
.service-image img{
    width: 100%;
    /* animation: zoomOut 2.5s linear forwards; Adjust timing as needed */
    /* transform-origin: center center; Set the zoom-out origin to the center */
  }
  
  .animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 3s;
   }
.animate.animated {
    opacity: 1;
    transform: translateY(0);
}


  /* DESCRIPTION ANIMATION  */
  
.left-side, .right-side {
    display: flex;
  }
  
  .service-image-left {
    flex: 0 0 auto;
  }
  
  .service-image-right {
    flex: 0 0 auto;
  }
  
 

  


 /* HOW IT WORKS  */
 
 .gallery-container h1{
    text-align: center;
    margin-top: 20px;
 }
 .gallery-container .title{
    padding: 20px;
 }
 .card {
    transition: transform 0.4s;
    align-items: center;
    padding: 20px;
  }

  .card:hover {
    transform: scale(1.05); 
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .card img{
    width: 100px;
    height: 100px
  }
  .card-body a{
    background-color: grey;
    color: white
  }
  .gallery-button{
    background-color: gray
  }
 /* HOW IT WORKS  */



/* LOGOS  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* body{
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	font-family: 'Barlow', sans-serif;
	background: linear-gradient(to right, #01a9ac, #01dbdf);
} */

.container{
	margin-top: 50px;
	height: auto;
	text-align: center;
}
.container hr{
	width: 20%;
	height: 5px;
	border: none;
	background: #000;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.client{
	width: 100%;
	height: auto;
}
.client ul{
	padding: 0;
	margin: 0;
}
.client ul li{
	list-style: none;
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	justify-content: space-around;
}
.client ul li img{
	width: 100%;
	height: 100%;
	padding: 50px;
}
.client ul li img:nth-child(1){
	transform: translateY(0);
	transition: .5s;
}
.client ul li img:nth-child(2){
	transform: translateY(0);
	transition: .5s;
}
.client ul li:hover img:nth-child(1){
	transform: translateY(-100%);
	transition: .5s;
}
.client ul li:hover img:nth-child(2){
	transform: translateY(-100%);
	transition: .5s;
}
.credit a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
  }
  .credit {
      margin-top: 50px;
      text-align: center;
  }


/* LOGOS  */

/* TESTIMONIALS  */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

a:link,a:active,a:visited,a:hover{
	/* color:#3f51b5; */
}

.testimonial-title{
    align-items: center;
}
.outerdiv
{
	width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #f4f4f4a1, #d7cfcfa1, #bcb5de, #bcb5de);
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}
/* TESTIMONIALS  */





/* CONTACT FORM  */

.contact-us-image{
    width: 100%;
}


.bg-contact100 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: white
}

.wrap-contact100 {
    width: 1163px;
    background: linear-gradient(to right, #ffffffa1, #d7cfcfa1, #bcb5de, #bcb5de);
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
    width: 310px;
    padding-top: 55px;
}

.contact100-pic img {
    max-width: 100%;
}


.contact100-form {
    width: 390px;
}

.contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
}

input.input100 {
    height: 50px;
    border-radius: 10px;
    padding: 0 30px 0 50px;
    border: none;
    
}

input.input100[name="email"] {
    padding: 0 30px 0 54px;
}

textarea.input100 {
    min-height: 150px;
    border-radius: 10px;
    padding: 14px 30px;
    border: none;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}


.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(132, 106, 221, 0.5);
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #846add;
    padding-left: 22px;
}

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.contact100-form-btn {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #846add;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #333333;
}


@media (max-width: 1200px) {
    .contact100-pic {
        width: 33.5%;
    }

    .contact100-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 90px;
    }

    .contact100-pic {
        width: 35%;
    }

    .contact100-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 80px;
    }

    .contact100-pic {
        display: none;
    }

    .contact100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 110px 15px 157px 15px;
    }
}



.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

/* CONTACT FORM  */


 /* FOOTER  */

/* Main Footer */
footer{
    background-color: gray;
}
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
 /* FOOTER  */



 /* HORIZONTAL DIVIDER  */
 hr {
    border: 0;
    height: 1px;
    width: 20%;
    position: relative;
    margin: 30px auto;
  
    &.centre-diamond {
      background: blue;
  
      &:before {
        content: "";
        width: 6px;
        height: 6px;
        background: blue;
        display: inline-block;
        border: 2px solid blue;
        position: absolute;
        top: -3px; /* Adjust the top value to move the diamond below the line */
        left: 50%;
        margin: 0 0 0 -3px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
      }
    }
  }
  
 /* HORIZONTAL DIVIDER  */